@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    color-scheme: light dark;
  }
}

@layer components {
  .calc-label {
    @apply block mb-1 font-medium text-gray-700 dark:text-gray-300;
  }

  .calc-input {
    @apply w-full rounded-xl border border-gray-300 dark:border-gray-700
           bg-gray-50 dark:bg-gray-900 
           text-gray-900 dark:text-gray-200
           px-4 py-2 outline-none focus:ring-2 focus:ring-black dark:focus:ring-white;
  }

  .calc-select {
    @apply w-full rounded-xl border border-gray-300 dark:border-gray-700
           bg-gray-50 dark:bg-gray-900 
           text-gray-900 dark:text-gray-200
           px-4 py-2 outline-none focus:ring-2 focus:ring-black dark:focus:ring-white;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}

@layer components {
  .form-label {
    @apply block text-sm font-semibold text-gray-700 dark:text-gray-300 mb-1;
  }

  .form-input {
    @apply w-full px-4 py-2 rounded-xl bg-white/70 dark:bg-gray-800/40 
           border border-gray-300 dark:border-gray-700 
           text-gray-900 dark:text-gray-100 shadow-sm focus:ring-2 
           focus:ring-blue-500 focus:border-blue-500 outline-none;
  }

  .th {
    @apply px-4 py-3 text-left font-semibold text-sm border-b border-gray-300 dark:border-gray-700;
  }

  .td {
    @apply px-4 py-3 whitespace-nowrap;
  }
}
@layer components {
  .td-premium {
    @apply px-4 py-3 border-b dark:border-gray-800 whitespace-nowrap;
  }
}

/* Base track */
.custom-slider {
  -webkit-appearance: none;
  height: 6px;
  border-radius: 5px;
  background: #d1d5db; /* gray-300 */
  outline: none;
}

/* Dark theme track */
.dark .custom-slider {
  background: #4b5563; /* gray-600 */
}

/* Thumb */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #2b7fff; /* blue-600 */
  cursor: pointer;
}



.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.35);
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.5);
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}



body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

