@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    color-scheme: light dark;
  }
}

@layer components {
  .calc-label {
    @apply block mb-1 font-medium text-gray-700 dark:text-gray-300;
  }

  .calc-input {
    @apply w-full rounded-xl border border-gray-300 dark:border-gray-700
           bg-gray-50 dark:bg-gray-900 
           text-gray-900 dark:text-gray-200
           px-4 py-2 outline-none focus:ring-2 focus:ring-black dark:focus:ring-white;
  }

  .calc-select {
    @apply w-full rounded-xl border border-gray-300 dark:border-gray-700
           bg-gray-50 dark:bg-gray-900 
           text-gray-900 dark:text-gray-200
           px-4 py-2 outline-none focus:ring-2 focus:ring-black dark:focus:ring-white;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}


.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.35);
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.5);
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}



body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

